doctype
html(lang="en")
  head
    meta(charset="utf-8")
    title="Обратная связь"
    link(href="reset.css", rel="stylesheet")
    link(href="style.css", rel="stylesheet")
    script(src="script.js" defer)
    script(src="https://smtpjs.com/v3/smtp.js" defer)
  body
    #form-wrapper
      #form-label Напишите нам
      form#form-feedback()
        label(for="inp-name") Имя
        input#inp-name(name="Name" type="text" placeholder="Кот Котофеич")

        label(for="inp-bday") Дата рождения
        input#inp-bday(name="Birthday", type="date")

        label(for="inp-tel") Телефон
        input#inp-tel(name="Phone" type="tel" placeholder="+78001234567" maxlength="14")

        label(for="inp-email") Почта
        input#inp-email(name="Email" type="email" placeholder="kotofei@catmail.com")

        label(for="inp-text") Ваш вопрос:
        textarea#inp-text(name="Text" placeholder="А мыши кто?")

        input#btn-submit(name="btnSubmit" type="submit" value="ОТПРАВИТЬ")


