doctype
html(lang="en")
  head
    meta(charset="utf-8")
    title="Обратная связь"
    link(href="reset.css", rel="stylesheet")
    link(href="style.css", rel="stylesheet")
    script(src="script.js" defer)
    script(src="https://smtpjs.com/v3/smtp.js" defer)
  body
    #formWrapper
      #formLabel Напишите нам
      form#formFB()
        label(for="inpName") Имя
        input#inpName(name="Name" type="text" placeholder="Кот Котофеич")

        label(for="inpBday") Дата рождения
        input#inpBday(name="Birthday", type="date")

        label(for="inpTel") Телефон
        input#inpTel(name="Phone" type="tel" placeholder="+78001234567" maxlength="14")

        label(for="inpEmail") Почта
        input#inpEmail(name="Email" type="email" placeholder="kotofei@catmail.com")

        label(for="inpText") Ваш вопрос:
        textarea#inpText(name="Text" placeholder="А мыши кто?")

        input#btnSubmit(name="btnSubmit" type="submit" value="ОТПРАВИТЬ")


