doctype html public
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Письмо с сайта
  body(style="font-family: Verdana, Geneva, sans-serif;")
    table(frame="border" rules="none" border="1" cellpadding="0" cellspacing="0" bgcolor="#eeeeee" style="margin:0 auto; padding:0; width: 600px; border-radius:8px")
      tr(height="50px")
        td(style="font-size:20px; text-align:center;")
          b Танцуйте, Вам письмо!
      tr(height="50px")
        td(style="text-align:center;")
          i Вот всё, что мы знаем об отправителе:
      tr
        td
          table(frame="border" rules="none" border="1" cellpadding="0" cellspacing="0" bgcolor="#fff" style="width:95%; margin:0 auto; padding:0;")
            tr
              td(style="text-align:left; padding-left:15px") Его зовут: Котофеич
            tr
              td(style="text-align:left; padding-left:15px") Он родился: 21.11.2011
            tr
              td(style="text-align:left; padding-left:15px") Его номер телефона:
                a(href="tel:+76777677888" value="+1908765" target="_blank") +19087652277
            tr
              td(style="text-align:left; padding-left:15px") Его почта:
                a(href="mailto:cat@cat.cat" target="_blank") cat@cat.cat
            tr
              td(style="text-align:left; padding-left:15px") А вот что он написал:
            tr
              td(style="text-align:left; padding-left:15px")
                i Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam quaerat, sequi modi, maiores est vitae ab rem quam eum fuga quidem quas recusandae neque consectetur obcaecati a? Aliquid, et delectus?



      tr(height="50px")
        td(style="text-align:center;")
          i Возможно, он очень ждет ответа...